<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoE_Chaos_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PoE_Chaos_Helper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PoE_Chaos_Helper.Properties.Settings>
            <setting name="POESESSID" serializeAs="String">
                <value />
            </setting>
            <setting name="League" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="TabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxSets" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="FilterPath" serializeAs="String">
                <value />
            </setting>
        </PoE_Chaos_Helper.Properties.Settings>
    </userSettings>
</configuration>