<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoE_Chaos_Helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PoE_Chaos_Helper.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <PoE_Chaos_Helper.Properties.Settings>
            <setting name="POESESSID" serializeAs="String">
                <value />
            </setting>
            <setting name="League" serializeAs="String">
                <value />
            </setting>
            <setting name="AccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="TabIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxSets" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="FilterPath" serializeAs="String">
                <value />
            </setting>
            <setting name="OverlayLocation" serializeAs="String">
                <value>16, 126</value>
            </setting>
            <setting name="OverlaySize" serializeAs="String">
                <value>635, 635</value>
            </setting>
            <setting name="FilterTemplate" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Show</string>
                        <string>SetBorderColor 50 130 165 255</string>
                        <string>SetFontSize 45</string>
                        <string>SetTextColor 50 130 165 255</string>
                        <string>SetBackgroundColor 255 255 255 255</string>
                        <string>PlayAlertSound 1 300</string>
                        <string>PlayEffect Red</string>
                        <string>MinimapIcon 0 Red Cross</string>
                        <string>Rarity = Rare</string>
                        <string>Identified False</string>
                        <string>ItemLevel &gt;= 60</string>
                        <string>ItemLevel &lt;= 74</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OverlayBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OverlayHotkey" serializeAs="String">
                <value>Alt + Shift + S</value>
            </setting>
        </PoE_Chaos_Helper.Properties.Settings>
    </userSettings>
</configuration>